<div>
  <div class="ui dividing header">
    添加用户
  </div>
    <div>
      <div class="ui grid">
        <div class="ui eight wide column">
        <form name="myForm" class="ui form">
          <!--  中文和英文: /^[\u4E00-\u9FA5A-Za-z]+$/-->
          <!--  只能中文 /^[\u4E00-\u9FA5]+$/-->
          <!--  只能中文, 2到10个字 /^[\u4E00-\u9FA5]{2,10}$/-->
          <div class="ui field">
            <label>* 姓名: </label>
            <input type="text" name="name" required ng-model="formObj.name" ng-pattern="/^[\u4E00-\u9FA5]{2,10}$/">
            <span ng-show="myForm.name.$error.required && myForm.name.$dirty" class="ui pointing red label">请填写用户名</span>
            <span ng-show="myForm.name.$error.pattern" class="ui pointing red label">不合法的中文姓名</span>
          </div>
          <div class="ui field">
            <label>* 年龄: </label>
            <input type="number" name="age" required ng-model="formObj.age" max="40" min="18">
            <span ng-show="myForm.age.$error.required && myForm.age.$dirty" class="ui pointing red label">请输入年龄</span>
            <span ng-show="myForm.age.$error.max" class="ui pointing red label">年龄不能超过40</span>
            <span ng-show="myForm.age.$error.min" class="ui pointing red label">年龄不能小于18</span>
          </div>
          <div class="ui field">
            <label>* 密码: </label>
            <input type="password" name="password" required ng-model="formObj.password" ng-minlength="6">
            <span ng-show="myForm.password.$error.required && myForm.password.$dirty" class="ui pointing red label">请输入密码</span>
            <span ng-show="myForm.password.$error.minlength" class="ui pointing red label">密码最少6位</span>
            <span ng-show="myForm.password.$valid" class="ui pointing gray label">该密码强度: {{checkStrength(formObj.password)}}</span>
          </div>
          <p>
            <center>
            <input type="button" class="ui blue button" value="提交" ng-disabled="myForm.$invalid" ng-click="submit()">
            <input type="reset" class="ui gray button" value="重置">
            </center>
          </p>
        </form>
      </div>
      </div>
    </div>
</div>
